* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(230, 32, 32);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    color :rgb(255, 255, 255);
    text-decoration: none;
    font-size: 120%;
}

.products-container {
    min-height: 30vh;
    display: grid;
    place-items: center;
}