* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(131, 158, 247);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.nav-link {
    color :red;
    text-decoration: none;
}